<!-- templates/admin/base_site.html -->
{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
    {# ↓↓↓ このリンクを追加 ↓↓↓ #}
    <a href="{% url 'manager:attraction_list' %}" style="padding-left: 20px; font-weight: bold; color: #f5dd5d;">← 混雑状況ページへ戻る</a>
    {# ↑↑↑ このリンクを追加 ↑↑↑ #}
{% endblock %}